!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="description" content="Total Iceland....")
    %meta(name="keywords" content="iceland")
    %title= title
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag 'rails'
    = csrf_meta_tag
    = render "layouts/stylesheets"
  %body{:id => "demo", :class => "general"}
    %div{:id => "container"}
      = render "layouts/header"
      %section
        %div{:id => "content"}
          - flash.each do |key, value|
            %div{:class => key}
              = value
          = yield
      %footer
        = render "layouts/footer"
        = debug(params) if Rails.env.development?





