!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="description" content="Total Iceland....")
    %meta(name="keywords" content="iceland")
    %title= title
    = csrf_meta_tag
    = render "layouts/stylesheets"
  %body{:id => "demo", :class => "general"}
    %div{:id => "container"}
      = render "layouts/header"
      %section
        %div{:id => "content"}
          = yield
      %footer
        = render "layouts/footer"





